<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/master.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.0/css/all.css" integrity="sha384-Mmxa0mLqhmOeaE8vgOSbKacftZcsNYDjQzuCOm6D02luYSzBG8vpaOykv9lFQ51Y" crossorigin="anonymous">
    
    
    
  </head>
  <body>
   
   <nav class="navbar navbar-expand-lg bg-light">
  <a class="navbar-brand" href="layout.hbs"><img src="images/logo.png" width="80" ></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Menu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </div>
</nav>
   
   <div class="body-rendered">
    {{{body}}}
    </div>
    
<div class="card-sec">
<h2 class="sec-2 text-center"><span>About</span> Us</h2>
    
<div class="container">   
<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="images/1.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Romantic Restaurant</h5>
      <p class="card-text">{{romantic}}</p>
    </div>
    
  </div>
  <div class="card">
    <img class="card-img-top" src="images/2.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Delicious Food</h5>
      <p class="card-text">{{delicious}}</p>
    </div>
   
  </div>
  <div class="card">
    <img class="card-img-top" src="images/3.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Red Wines You Love</h5>
      <p class="card-text">{{wines}}</p>
    </div>
  </div>
</div>
  </div>
      </div>
    <!-- footer section -->
    
 <footer class="footer-main-div">
     <div class="footer-social text-center">
         <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
         <li><a href="#"><i class="fab fa-twitter"></i></a></li>
         <li><a href="#"><i class="fab fa-instagram"></i></a></li>
         <li><a href="#"><i class="fab fa-youtube"></i></a></li>
     </div>
     <div class="copy">
         <p>&copy; 2019 Bite Restuarant All Rights Reserved</p>
     </div>
 </footer>
    
    
    
    
    
    
    
     
    
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
